[submodule "nodenv/nodenv.symlink"]
  path = nodenv/nodenv.symlink
  url = git://github.com/OiNutter/nodenv.git
[submodule "nodenv/node-build"]
  path = nodenv/node-build
  url = git@github.com:joshuarubin/node-build.git
[submodule "zsh/bundles/joshuarubin/zsh-environment"]
	path = zsh/bundles/joshuarubin/zsh-environment
	url = https://github.com/joshuarubin/zsh-environment
[submodule "zsh/bundles/joshuarubin/zsh-terminal"]
	path = zsh/bundles/joshuarubin/zsh-terminal
	url = https://github.com/joshuarubin/zsh-terminal
[submodule "zsh/bundles/joshuarubin/zsh-editor"]
	path = zsh/bundles/joshuarubin/zsh-editor
	url = https://github.com/joshuarubin/zsh-editor
[submodule "zsh/bundles/joshuarubin/zsh-history"]
	path = zsh/bundles/joshuarubin/zsh-history
	url = https://github.com/joshuarubin/zsh-history
[submodule "zsh/bundles/joshuarubin/zsh-directory"]
	path = zsh/bundles/joshuarubin/zsh-directory
	url = https://github.com/joshuarubin/zsh-directory
[submodule "zsh/bundles/joshuarubin/zsh-spectrum"]
	path = zsh/bundles/joshuarubin/zsh-spectrum
	url = https://github.com/joshuarubin/zsh-spectrum
[submodule "zsh/bundles/joshuarubin/zsh-helper"]
	path = zsh/bundles/joshuarubin/zsh-helper
	url = https://github.com/joshuarubin/zsh-helper
[submodule "zsh/bundles/joshuarubin/zsh-gnu-utility"]
	path = zsh/bundles/joshuarubin/zsh-gnu-utility
	url = https://github.com/joshuarubin/zsh-gnu-utility
[submodule "zsh/bundles/joshuarubin/zsh-utility"]
	path = zsh/bundles/joshuarubin/zsh-utility
	url = https://github.com/joshuarubin/zsh-utility
[submodule "zsh/bundles/joshuarubin/zsh-completion"]
	path = zsh/bundles/joshuarubin/zsh-completion
	url = https://github.com/joshuarubin/zsh-completion
[submodule "zsh/bundles/joshuarubin/zsh-archive"]
	path = zsh/bundles/joshuarubin/zsh-archive
	url = https://github.com/joshuarubin/zsh-archive
[submodule "zsh/bundles/joshuarubin/zsh-fasd"]
	path = zsh/bundles/joshuarubin/zsh-fasd
	url = https://github.com/joshuarubin/zsh-fasd
[submodule "zsh/bundles/joshuarubin/zsh-git"]
	path = zsh/bundles/joshuarubin/zsh-git
	url = https://github.com/joshuarubin/zsh-git
[submodule "zsh/bundles/joshuarubin/zsh-osx"]
	path = zsh/bundles/joshuarubin/zsh-osx
	url = https://github.com/joshuarubin/zsh-osx
[submodule "zsh/bundles/joshuarubin/zsh-ssh"]
	path = zsh/bundles/joshuarubin/zsh-ssh
	url = https://github.com/joshuarubin/zsh-ssh
[submodule "zsh/bundles/joshuarubin/zsh-prompt"]
	path = zsh/bundles/joshuarubin/zsh-prompt
	url = https://github.com/joshuarubin/zsh-prompt
[submodule "zsh/bundles/joshuarubin/zsh-tmux"]
	path = zsh/bundles/joshuarubin/zsh-tmux
	url = https://github.com/joshuarubin/zsh-tmux
[submodule "zsh/bundles/joshuarubin/zsh-rsync"]
	path = zsh/bundles/joshuarubin/zsh-rsync
	url = https://github.com/joshuarubin/zsh-rsync
[submodule "zsh/bundles/joshuarubin/zsh-secrets"]
	path = zsh/bundles/joshuarubin/zsh-secrets
	url = https://github.com/joshuarubin/zsh-secrets
[submodule "zsh/bundles/joshuarubin/zsh-zmv"]
	path = zsh/bundles/joshuarubin/zsh-zmv
	url = https://github.com/joshuarubin/zsh-zmv
[submodule "zsh/bundles/joshuarubin/zsh-gvm"]
	path = zsh/bundles/joshuarubin/zsh-gvm
	url = https://github.com/joshuarubin/zsh-gvm
[submodule "zsh/bundles/joshuarubin/zsh-nodenv"]
	path = zsh/bundles/joshuarubin/zsh-nodenv
	url = https://github.com/joshuarubin/zsh-nodenv
[submodule "zsh/bundles/joshuarubin/zsh-rvm"]
	path = zsh/bundles/joshuarubin/zsh-rvm
	url = https://github.com/joshuarubin/zsh-rvm
[submodule "zsh/bundles/joshuarubin/zsh-grc"]
	path = zsh/bundles/joshuarubin/zsh-grc
	url = https://github.com/joshuarubin/zsh-grc
[submodule "zsh/bundles/joshuarubin/zsh-java"]
	path = zsh/bundles/joshuarubin/zsh-java
	url = https://github.com/joshuarubin/zsh-java
[submodule "zsh/bundles/joshuarubin/zsh-python"]
	path = zsh/bundles/joshuarubin/zsh-python
	url = https://github.com/joshuarubin/zsh-python
[submodule "zsh/bundles/joshuarubin/zsh-direnv"]
	path = zsh/bundles/joshuarubin/zsh-direnv
	url = https://github.com/joshuarubin/zsh-direnv
[submodule "zsh/bundles/joshuarubin/zsh-homebrew"]
	path = zsh/bundles/joshuarubin/zsh-homebrew
	url = https://github.com/joshuarubin/zsh-homebrew
[submodule "zsh/bundles/joshuarubin/zsh-perl"]
	path = zsh/bundles/joshuarubin/zsh-perl
	url = https://github.com/joshuarubin/zsh-perl
[submodule "zsh/bundles/joshuarubin/zsh-screen"]
	path = zsh/bundles/joshuarubin/zsh-screen
	url = https://github.com/joshuarubin/zsh-screen
[submodule "zsh/bundles/joshuarubin/zsh-dpkg"]
	path = zsh/bundles/joshuarubin/zsh-dpkg
	url = https://github.com/joshuarubin/zsh-dpkg
[submodule "zsh/bundles/Tarrasch/zsh-command-not-found"]
	path = zsh/bundles/Tarrasch/zsh-command-not-found
	url = https://github.com/Tarrasch/zsh-command-not-found
[submodule "zsh/bundles/Tarrasch/zsh-mcd"]
	path = zsh/bundles/Tarrasch/zsh-mcd
	url = https://github.com/Tarrasch/zsh-mcd
[submodule "zsh/bundles/zsh-users/zsh-history-substring-search"]
	path = zsh/bundles/zsh-users/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/bundles/joshuarubin/zsh-typescript"]
	path = zsh/bundles/joshuarubin/zsh-typescript
	url = https://github.com/joshuarubin/zsh-typescript
[submodule "vim/vim.symlink/bundle/neobundle.vim"]
	path = vim/vim.symlink/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/bundles/joshuarubin/zsh-linuxbrew"]
	path = zsh/bundles/joshuarubin/zsh-linuxbrew
	url = https://github.com/joshuarubin/zsh-linuxbrew
[submodule "zsh/bundles/tarruda/zsh-autosuggestions"]
	path = zsh/bundles/tarruda/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions
[submodule "zsh/bundles/jimmijj/zsh-syntax-highlighting"]
	path = zsh/bundles/jimmijj/zsh-syntax-highlighting
	url = https://github.com/jimmijj/zsh-syntax-highlighting
[submodule "zsh/bundles/joshuarubin/zsh-custom"]
	path = zsh/bundles/joshuarubin/zsh-custom
	url = https://github.com/joshuarubin/zsh-custom
