[submodule "zsh"]
  path = zsh
  url = git@github.com:joshuarubin/dotzsh.git
[submodule "vim"]
  path = vim
  url = git@github.com:joshuarubin/dotvim.git
[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
