'release-notes':
  'viewedVersion': '0.78.0'
'welcome':
  'showOnStartup': false
'editor':
  'fontSize': 12
'core':
  'themes': [
    'atom-light-ui'
    'solarized-light-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
