'global':
  'release-notes':
    'viewedVersion': '0.95.0'
  'welcome':
    'showOnStartup': false
  'editor':
    'fontSize': 12
    'fontFamily': 'Source Code Pro'
    'invisibles': {}
  'core':
    'themes': [
      'atom-dark-ui'
      'solarized-light-syntax'
    ]
    'ignoredNames': [
      '.git'
      '.svn'
      '.DS_Store'
    ]
    'disabledPackages': [
      'metrics'
      'exception-reporting'
    ]
  'markdown-preview':
    'grammars': [
      'source.gfm'
      'source.litcoffee'
      'text.plain'
      'text.plain.null-grammar'
    ]
  'spell-check':
    'grammars': [
      'source.gfm'
      'text.git-commit'
      'text.plain'
      'text.plain.null-grammar'
    ]
  'go-plus':
    'goExecutablePath': '/usr/local/bin/go'
    'goPath': '$HOME/working/gocode'
    'gofmtPath': '/usr/local/bin/gofmt'
    'lintOnSave': true
    'syntaxCheckOnSave': true
  'atom-lint':
    'gc':
      'path': '/usr/local/bin/go'
